* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 0;
}

.wrapper {
  margin: 0 100px 0 100px;
} 

h2 {
  font-size: 60px;
  text-align: center;
  font-family: times, Arial, helvetica, sans-serif;
}

img {
  margin-top: 10px;
  width: 400px;
  height: 400px;
  filter: grayscale(100%);
}

img:hover {
  cursor: pointer;
  /* filter: invert(100%) */
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.box {
  /* padding: 20px; */
}

/* .wrapper2 {
  
  margin: 30px 100px 0 100px;
} */

.grid1 {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  /* padding: 40px; */
  /* grid-auto-rows: minmax(auto, 100px); */
  /* grid-gap: 1em; */

  /* grid-auto-rows: minmax(50px, auto); */
  /* background-color: grey; */
  
}

.content {
  width: 250px;
  height: 250px;
}

h3 {
  margin: 30px 0 0 0;
  text-align: center;
  font-size:60px;
  font-family: times;
}

/* .wrapper3 {
  
  margin: 30px 100px 0 100px;
} */

.grid3 {
  display: grid;
  grid-template-columns: repeat(3 , 1fr);
  grid-gap: 1em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
  /* margin-right: 30px; */
}

.test, .test2, .test3 {
  background: green;
  padding: 30px;
  grid-gap: 1px;
}

.test p, .test2 p, .test3 p {
  margin-top: 1em;
  padding: 1em;
  background-color: white;
  border-radius: 4px;
}

.t {
  width: 350px;
  height: 350px;
}

.location {
  margin-top: 3rem;
}
.grid4 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: minmax(400px, auto);
  grid-gap: 1em;
  border: 1px solid;
  padding: 10px;
  box-shadow: 5px 10px #888888;
}

.grid4 > div {
  background-color: #fff;
  box-shadow: black;
}
.box .box2 p {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 65px;
  transform: translate(-20%, -50%);
  font-weight: bold;
}

.grid4 > .box2 p {
  position: relative;
  top: 50%;
  left: 50%;
  font-size: 65px;
  transform: translate(-20%, -50%);
  font-weight: bold;
}

.contact p {
  position: relative;
}

input {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 30px;
  font-size: 30px;
  text-align: center;
  padding: 3px;
}

.sponsors {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}

.sponsors p {
  text-align: center;
}

.pp {
  text-align: center;
  padding: 30px;
}

.w{
  width: 150px;
  height: 150px;
}

footer {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin-top: 50px;
  background-color: darkgrey;
  grid-auto-rows: minmax(325px, auto);
}